@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  font-family: "Inter", sans-serif;
  color: white;
}

.btnSelect {
  display: flex;
}

.btnSelect:hover {
  cursor: pointer;
}

.force-center {
  width: 100vw;
  align-items: center;
}

.ce {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mono {
  font-family: "Azeret Mono", monospace;
}
